@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color:#ffffff;
  background-image: url("../images/wallpaper.jpg");

  background-size: 1680px 1200px;
}

.gradient-bg-transactions {
  background-image: url("../images/wallpaper.jpg");

  background-size: 1680px 1200px;
 
}

.gradient-bg-footer {
  background-color: #000000de;

}

.logo-glassmorphism {
  background: rgba(7, 7, 7, 0.716);
  -webkit-backdrop-filter: blur(5px);
  border: 2 solid rgba(255, 255, 255, 0.3);
}

.blue-glassmorphism {
  background: rgba(7, 7, 7, 0.877);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #4bff04de;
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #4bff04de;
}

.eth-card {
  background-color:#ff9900;
  background-image: 
    radial-gradient(at 83% 67%, rgb(255, 187, 0) 0, transparent 58%), 
    radial-gradient(at 67% 20%, rgb(255, 255, 255) 0, transparent 59%), 
    radial-gradient(at 88% 35%, rgb(255, 255, 255) 0, transparent 50%), 
    radial-gradient(at 31% 91%, rgb(248, 245, 245) 0, transparent 52%), 
    radial-gradient(at 27% 71%, rgb(255, 255, 255) 0, transparent 49%), 
    radial-gradient(at 14% 39%, rgb(252, 128, 4) 0, transparent 71%), 
    radial-gradient(at 53% 75%, rgb(237, 243, 243) 0, transparent 45%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
